<div class="picture">
  <div class="container">
    <div class="eria">
      <div class="form-area">
        <h3 class="form-group"> AirHotel でまだ体験したことのない旅をしよう</h3>
        <%= form_tag rooms_path, :method => 'get' do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:address], placeholder: "エリア", class: "form-control" %>
            </br>
            <%= submit_tag "探索", :name => nil, class:"form-control btn btn-normal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="field" style="background-color: #fff;">
  <div class="container">
    <div class="city d-flex">
      <div class="card-area m-5">
        <h3 class="form-group" style="margin-top: 20px; font-weight: bold;">
          おすすめエリア
        </h3>
        <div class="row">
          <div class="panel-item col-lg-3 col-6">
            <span>東京</span>
            <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9D%B1%E4%BA%AC"><img class="card-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"></a>
          </div>

          <div class="panel-item col-lg-3 col-6">
            <span>大阪</span>
            <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9D%B1%E4%BA%AC"><img class="card-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"></a>
          </div>

          <div class="panel-item col-lg-3 col-6">
            <span>名古屋</span>
            <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9D%B1%E4%BA%AC"><img class="card-image" src="https://www.jalan.net/news/img/2020/07/202008_tokai_odan_007.jpg"></a>
          </div>

          <div class="panel-item col-lg-3 col-6">
            <span>北海道</span>
            <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9D%B1%E4%BA%AC"><img class="card-image" src="http://img-cdn.jg.jugem.jp/928/1485496/20101109_1745197.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>