<div class="picture">
  <div class="container">
    <div class="eria">
      <div class="form-area">
        <h3> AirHotel でまだ体験したことのない旅をしよう</h3>
        </br>
        
        <input type="text" class="form-control" placeholder="東京"></input>
        </br>
        
        <input type="submit" class="form-control btn btn-normal" value="探索"></input>
        </br>
      </div>
    </div>
  </div>
</div>