@import "bootstrap";

body {
  color: #565a5c;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #F8F8F8;
}

.picture {
  background-image: url(https://mmmmovie.up.seesaa.net/image/HNCK7388.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.eria {
  height: 550px;
  display: flex;
  align-items: center;
}

.form-area {
  width: 430px;
  background-color: #fff;
  padding: 24px;
  border-radius: 5px;
}

.notice {
  text-align: center;
}

.alert {
  text-align: center;
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  color: #FF5A5F;
}

.td {
  margin-bottom: 10px;
  border-bottom: 1px dashed;
  border-color: gray;
}

.margin {
  margin-left: 60px;
}

// FORM
.form-group {
  margin-bottom: 25px;
}

// NAVBARS
.navbar-default {
  background-color: #FFFFFF;
}

.navbar .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 400;
}

.navbar-nav .nav-link {
  text-align: right;
  // width: 400px;（どこかがくずれる）
  
}

// BUTTONS
.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn:hover {
  color: #fff;
  opacity: 0.7;
}

.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn.btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}


.btn.btn-blue {
  border: 1px solid #3B5998;
  background-color: #3B5998;
}

// CARDS
.card {
  margin-left: 30px;
}

.email {
  font-weight: bold;
}

.card-default .card-heading {
  color: #ffffff;
  background-color: #00A699;
  font-size: 25px;
  font-weight: 400;
  height: 60px;
  padding-top: 10px;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

// image
.img-fluid {
  max-width: 8%;
}

.nav-link img {
  border-radius: 100px;
}

.img-fluid-show {
  max-width: 263px;
}

.img-index {
 width: 300px; 
}

.img-max {
  width: 100%;
}